@import "partials/clearfix";
@import "partials/settings";    // settings must be loaded before components imported by "foundation";
@import "foundation.scss";      // gulpfile.js makes path to foundation relative;

@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

$desktop: 'only screen and (min-width: 600px)';
$phone: 'only screen and (max-width: 600px)';

// ------------------     forms     ---------------

#photoForm, #userForm, #loginForm, #denied403 {
  width: 400px;
  padding: 32px;
  margin: auto;   // center horizontally;

  top: 50%;       // center vertically;
  position: relative;
  transform: translateY(-50%);
}

#usersList {
  width: 400px;
  padding: 32px;
  margin: auto;
}

// ---------------   photo details  ---------------

#sidePhotos {
  float: right;
  overflow: scroll;
  max-width: 400px;
  padding: 16px;
  margin: auto;
  @media #{$phone} {
    display: none;
  }
}

#mainPhoto {
  margin: auto;
  @media #{$desktop} {
    max-width: 800px;
    padding: 16px;
  }
  @media #{$phone} {
    max-width: 600px;
    padding: 16px;
  }
}

.info {
  text-align: center;
  font-family: sans-serif;
}

// -----------------  photos gallery  -------------

.header {
  margin: auto;
  padding: 16px;
}

.headTitle {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.headImage {
  height: 300px;
  margin-bottom: 16px;
  background-size: cover;
}

.image {
  padding: 8px 0;
  height: 300px;
  background-size: cover;
}

.link {
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Architects Daughter', cursive;
}

.title {
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
