<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Create/ Edit Photo</title>
</head>
<body>
  <form id="photoForm" method="POST" action="/new">
    <input type="hidden" name="_method" value="PUT">
    <label>
      Title: <input type="text" name="title">
    </label>
    <label>
      Link: <input type="text" name="link">
    </label>
    <label>
      Info: <input type="text" name="info">
    </label>
    <button type="submit">Update</button>
  </form>
</body>
</html>