<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Gallery</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="row">
  <h1 class="small-centered-12 columns">
    Image Gallery
  </h1>
  <div class="small-centered-12 columns">
    <div class="headImage" style="background-image: url('../images/cat-head.jpg');"></div>
  </div>
</div>
<div class="row">
  <div class="medium-4 small-push-12 medium-reset-order columns">
    <div class="image" style="background-image: url('../images/cat3.gif');"></div>
    <div class="link">
      <a href="https://rudefeed.com/meow-16-signs-cats-are-most-definitely-your-spirit-animals/">rudefeed.com</a>
      <span class="title">cats-are-most-definitely-your-spirit-animals</span>
    </div>
  </div>
  <div class="medium-4 small-push-12 medium-reset-order columns">
    <div class="image" style="background-image: url('../images/cat2.png');"></div>
    <div class="link">
      <a href="http://boredomtherapy.com/reaction-cats/">boredomtherapy.com</a>
      <span class="title">reaction-cats</span>
    </div>
  </div>
  <div class="medium-4 small-push-12 medium-reset-order columns">
    <div class="image" style="background-image: url('../images/cat1.jpg');"></div>
    <div class="link">
      <a href="http://www.businessinsider.com/a-parasite-found-in-cats-could-be-manipulating-our-brains-2012-2">www.businessinsider.com</a>
      <span class="title">a-parasite-found-in-cats</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="footer"></div>
</div>
<!-- CHANGE PATH WHEN MOVING TO ANOTHER FOLDER -->
<script src="../js/jquery.min.js"></script>
<script src="../js/foundation.min.js"></script>
<script src="../js/modernizr.js"></script>
</body>
</html>