
extend ./layouts/mainLayout
include ./mixins/templater

block title
  title Photo Gallery

block content
  div(class="header")
    h1(class="headTitle") Photo Details
    div(class="link")
      a(href="http://www.wchs4pets.org/annies-blog/2015/03/its-a-miracle/") www.wchs4pets.org:
      span(class="title") its-a-miracle

  div(id="sidePhotos")
    ul(class="small-block-grid-1")
      +layoutSidePhotos(photos)

      li
        div(class="image", style="background-image: url('../images/cat3.gif');")
        div(class="link")
          a(href="https://rudefeed.com/meow-16-signs-cats-are-most-definitely-your-spirit-animals/") rudefeed.com:
          span(class="title") cats-are-most-definitely-your-spirit-animals
      li
        div(class="image", style="background-image: url('../images/cat2.png');")
        div(class="link")
          a(href="http://boredomtherapy.com/reaction-cats/") boredomtherapy.com:
          span(class="title") reaction-cats
      li
        div(class="image", style="background-image: url('../images/cat1.jpg');")
        div(class="link")
          a(href="http://www.businessinsider.com/a-parasite-found-in-cats-could-be-manipulating-our-brains-2012-2") www.businessinsider.com:
          span(class="title") a-parasite-found-in-cats

  div(id="mainPhoto")
    +createPhotoDetails(image)