
extend ./layouts/mainLayout

block title
  title Create/ Edit User

block content
  form(id="userForm", method="POST", action="/new")
    if put
      input(type="hidden", name="_method", value="PUT")
    label Username:
      input(type="text", name="username")
    button(type="submit") Update
